.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--yellow);
    z-index: 10;
    margin: 0 auto;
    z-index: 5;
    background: var(--black);
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.header__title a{
    color: var(--yellow);
    text-decoration: none;
}

.header__link {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: var(--yellow);
    padding: 8px 15px;
    border-bottom: 1px solid transparent;
    transition: 300ms ease-in;
}

.header__navbar.desktop {
    display: none;
}

.header__hamburger {
    padding: 10px 0;
    width: 48px;
    position: relative;
    transition: 300ms ease-in;
    cursor: pointer;
}

.header__hamburger:hover,
.header__hamburger:hover::after {
    width: 40px;
}

.header__hamburger::before,
.header__hamburger::after {
    content: "";
    height: 4px;
    background-color: var(--yellow);
    position: absolute;
    right: 0;
    transition: 300ms ease-in;
    transform-origin: 0;
}

.header__hamburger::before {
    top: 0;
    width: 32px;
}

.header__hamburger::after {
    bottom: 5px;
    width: 48px;
}

.header__hamburger:hover::before,
.header__hamburger:hover::after {
    width: 40px;
}

.header__hamburger.openOverlay::before,
.header__hamburger.openOverlay::after {
    width: 32px;
}

.header__hamburger.openOverlay::before {
    transform: rotate(45deg);
    top: -2px;
}

.header__hamburger.openOverlay::after {
    transform: rotate(-45deg);
    bottom: -3px;
}

.header__overlay {
    height: 0;
    position: fixed;
    top: 0;
    width: 0;
    right: 0;
    background-color: rgba(0, 8, 20, .85);
    transition: 300ms ease-in-out;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__overlay.openOverlay {
    height: 100vh;
    width: 100%;
}

.header__link:hover {
    border-color: var(--yellow);
}

.header__navbar__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    gap: 48px;
    font-size: 19px;
    font-weight: 700;
    margin-top: -8rem;
}

.header__navbar__mobile .header__link{
    color: var(--yellow);
    text-transform: uppercase;
    opacity: 0;
}

.header__overlay.openOverlay .header__link{
    opacity: 1;
}

.header__overlay.openOverlay .header__link:nth-child(1){
    transition-delay: 300ms;
}
.header__overlay.openOverlay .header__link:nth-child(2){
    transition-delay: 400ms;
}
.header__overlay.openOverlay .header__link:nth-child(3){
    transition-delay: 500ms;
}

@media (min-width:1024px) {
    .header{
    padding: 24px 10%;
    }

    .header__navbar.desktop {
        display: block;
    }

    .header__hamburger{
        display: none;
    }
}